@import "tailwindcss";

:root {
  --color-primary: #F82237;
  --color-secondary: #1E293B;
  --color-tertiary: #FDBA74;
  --color-background: #FFF9F0;
  --color-surface: #FFFFFF;

  --color-success: #22C55E;
  --color-info: #3B82F6;
  --color-warning: #FACC15;
  --color-error: #EF4444;

  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-border: #E2E8F0;
  --color-muted: #94A3B8;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
} */


body {
  background: var(--color-background);
  color: var(--color-text-primary);
}
